* {
    font-family: "Josefin Sans";
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 32px;
}

#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 50px;
}

#about {
    padding: 50px 0;
}

#about-content{
    padding: 0 50px;
}


#work-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

#contact {
    padding: 50px 0;
}

#contact-content {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 0 50px;
}

form {
    border: 1px solid gray;
}